.expenses{
  padding: 1rem;
  background-color: antiquewhite;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-style: hidden;
  border-radius: 15px;
  padding: 12px;
}

Card{
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.25);
}